#leaddyno_settings td.ld_desc {
	font-weight: normal;
	font-size: 12px;
	line-height: 130%;
	color:#777;	
}

#leaddyno_settings tr.ld_row {
	padding: 5px 0 0 0;
	margin: 5px 0 0 0;
}
#leaddyno_settings tr.ld_row.even {
	background-color: #f6f6f6;
}

#leaddyno_settings div.inside ul {
	margin-left: 20px;
}

#leaddyno_settings div.inside ul li {
	list-style: square;
	line-height:16px;
}

#leaddyno_settings div.inside a {
	text-decoration: none;
}
#leaddyno_settings div.inside a:hover {
	text-decoration: underline;
}

#leaddyno_settings .text, .select {
	width: 250px;
}

#leaddyno_settings .postbox p {
	text-align:left; 
	margin: 0 10px 10px 10px; 
	font-size: 13px; 
	line-height: 150%;
}

#leaddyno_settings .postbox pre {
	margin: 5px 10px; 
	padding:4px; 
	background: lightyellow;
}

#leaddyno_settings .side .postbox p, .side .postbox a {
	font-size: 13px;
}

#leaddyno_settings div.inside .button:hover, div.inside .button-primary:hover {
	text-decoration: none;
}

#leaddyno_settings .button, .button-primary {
	margin-top: 10px;
}

#leaddyno_settings strong.red {
	color: green;
	font-weight: bold;
	font-size: 105%;
}
#leaddyno_settings .postbox {
	margin: 0 10px 10px 0;
}

#leaddyno_settings .postbox .hndle {
	cursor: default;
}